<footer>
    <div class="container">
        <div class="line"></div>
        
        <ul class="social-links">
            <li>
                <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" class="wow fadeIn">
                    <img src="{{ 'assets/img/images/new-design/SVG/in.svg'|theme }}" alt="LinkedIn" />
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" class="wow fadeIn">
                    <img src="{{ 'assets/img/images/new-design/SVG/youtube.svg'|theme }}" alt="YouTube" />
                </a>
            </li>
        </ul>
        
        <ul class="legal-links wow fadeIn">
            <li><a href="{{ 'aviso-legal'|page }}">Aviso Legal</a></li>
            <li><a href="{{ 'politicas-de-privacidad'|page }}">Política de privacidad</a></li>
            <li><a href="{{ 'cookies'|page }}">Política de cookies</a></li>
            <li>
                <button type="button" id="cookie-preferences">Preferencias de Cookies</button>
            </li>
        </ul>
    </div>
</footer>

