<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{{ this.page.meta_title ?: this.page.title }} - {{ this.theme.site_name }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title ?: this.page.title }}">
    
    <link rel="canonical" href="{{ this.page.url | app }}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ 'assets/img/favicon.png'|theme }}">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{{ this.page.meta_title ?: this.page.title }}">
    <meta property="og:description" content="{{ this.page.meta_description }}">
    <meta property="og:image" content="{{ 'assets/img/openg.jpg'|theme }}">
    <meta property="og:url" content="{{ this.page.url | app }}">
    
    <!-- Robots -->
    <meta name="robots" content="{{ this.page.robot_index }},{{ this.page.robot_follow }}">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    {% styles %}
</head>
<body>
    <!-- Preloader -->
    <div id="preloader" style="display: none;">
        <!-- Preloader content -->
    </div>
    
    {% partial 'header' %}
    
    {% page %}
    
    {% partial 'footer' %}
    
    {% framework extras %}
    {% scripts %}
</body>
</html>

